@charset "UTF-8";
.joke {
  border: 1px solid #6c6c6c;
  border-radius: .5em;
  font-size: 2rem;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: 80vw; }
  .joke::before {
    background: 0 #1f1f1f;
    border: 1px solid #6c6c6c;
    display: inline-block;
    border-radius: 50%;
    content: 'ˮ';
    color: #25caa6;
    font-size: 10rem;
    left: 0;
    line-height: 1;
    height: 5rem;
    margin-left: -2rem;
    margin-top: -2rem;
    position: absolute;
    top: 0;
    width: 5rem; }
  .joke__text {
    display: block;
    margin: 2rem; }
